*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.logo {
  margin-left: 16px;
}

.phone {
  margin-right: 43px;
  margin-top: 8px;
}

.menu__list {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #001e64;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #001e64;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.menu__link:hover::after {
  width: 100%;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  margin-top: -110px;
  height: calc(100vh - 35px);
}

.title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding-top: 175px;
  padding-left: 112px;
  margin-bottom: 60px;
}

.header__slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 55px;
  padding-bottom: 125px;
}

.header__slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 55px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}

.slick-dots li:nth-child(n + 10) button::before {
  content: "";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: white;
  font-size: 23px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
  transition: all, 0.3s;
}

.header__content-btn:hover {
  color: #001e64;
  background-color: #fff;
}

.header__content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: white;
  transform: translateX(-90px);
}

.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  text-align: center;
  width: 510px;
  padding-top: 41px;
}

.product__name-item + .product__name-item {
  margin-top: 31px;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}

.product__content {
  width: 600px;
}

.product__name-item.slick-current {
  color: #001e64;
  font-weight: 700;
  font-size: 36px;
}
.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-prev,
.product-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.product__content-box {
  display: flex;
  justify-content: space-between;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}

.product__content-item span {
  color: #001e64;
  display: block;
  margin-bottom: 10px;
}

.product__content-title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  margin-bottom: 20px;
}

.product__content-btn {
  display: inline-block;
  color: #001e64;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 12px 85px;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid color #001e64;
  transition: all 0.3s;
  cursor: pointer;
}

.product__content-btn:hover {
  color: #ffffff;
  background-color: #001e64;
}

.product__content-text {
  margin-bottom: 30px;
}

.advantages {
  background-image: url(../images/advantages.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 290px 0 95px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.advantages__items {
  display: flex;
  justify-content: space-around;
}

.advantages__item {
  width: 180px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/seashell.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seafood__content {
  padding: 100px 0;
}

.seafood__content-items {
  margin-bottom: 100px;
}

.seafood__content-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seafood__content-title {
  max-width: 490px;
  color: #001e64;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 29px;
}

.seafood__content-text {
  max-width: 420px;
  margin-bottom: 25px;
}

.seafood__content-text:last-child {
  margin: 0;
}

.seafood__content-item--text-right .seafood__content-title {
  max-width: 420px;
}

.seafood__content-item--text-right .seafood__content-wrapper {
  margin-right: 180px;
}

.seafood__blockquote {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.seafood__blockquote-text {
  max-width: 628px;
  margin: 0 auto;
  font-size: 18px;
}
.contacts {
  background-image: url(../images/contacts.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.contacts__box {
  margin-left: auto;
  width: 390px;
  background-color: white;
  padding: 33px 0 33px 20px;
}
.contents__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}
.contents__box-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
}
.contents__box-item {
  margin-top: 30px;
}

.contents__box-item span {
  display: block;
}
