*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.logo {
  margin-left: 50px;
}

.phone {
  margin-right: 43px;
  margin-top: 5px;
}
.menu__list {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #001e64;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #001e64;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.menu__link:hover::after {
  width: 100%;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: -110px;
  height: calc(100vh - 30px);
}

.title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding-top: 200px;
  padding-left: 112px;
  margin-bottom: 90px;
}

.header__slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 55px;
  padding-bottom: 125px;
}

.header__slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 50px;
}

.slick-next {
  bottom: 150px;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 75px;
  bottom: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}

.slick-dots li:nth-child(n + 10) button::before {
  content: "";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: white;
  font-size: 23px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
  transition: all, 0.3s;
}

.header__content-btn:hover {
  color: #001e64;
  background-color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
  margin-bottom: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  text-align: center;
  width: 510px;
  padding-top: 41px;
}

.product__name-item + .product__name-item {
  margin-top: 31px;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}

.product__content {
  width: 600px;
}

.product__name-item.slick-current {
  color: #001e64;
  font-weight: 700;
  font-size: 36px;
}
.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-prev,
.product-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.product__content-box {
  display: flex;
  justify-content: space-between;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}

.product__content-item span {
  color: #001e64;
  display: block;
  margin-bottom: 10px;
}

.product__content-title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  margin-bottom: 20px;
}

.product__content-btn {
  display: inline-block;
  color: #001e64;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 12px 85px;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid color #001e64;
  transition: all 0.3s;
  cursor: pointer;
}

.product__content-btn:hover {
  color: #ffffff;
  background-color: #001e64;
}

.product__content-text {
  margin-bottom: 30px;
}

.advantages {
  background-image: url(../images/advantages.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 290px 0 95px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.advantages__items {
  display: flex;
  justify-content: space-around;
}

.advantages__item {
  width: 180px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/seashell.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seafood__content {
  padding: 100px 0;
}

.seafood__content-items {
  margin-bottom: 100px;
}

.seafood__content-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seafood__content-title {
  max-width: 490px;
  color: #001e64;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 29px;
}

.seafood__content-text {
  max-width: 420px;
  margin-bottom: 25px;
}

.seafood__content-text:last-child {
  margin: 0;
}

.seafood__content-item--text-right .seafood__content-title {
  max-width: 420px;
}

.seafood__content-item--text-right .seafood__content-wrapper {
  margin-right: 180px;
}

.seafood__blockquote {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.seafood__blockquote-text {
  max-width: 628px;
  margin: 0 auto;
  font-size: 18px;
}
.contacts {
  background-image: url(../images/contacts.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.contacts__box {
  margin-left: auto;
  width: 390px;
  background-color: white;
  padding: 33px 0 33px 20px;
}
.contents__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}
.contents__box-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
}
.contents__box-item {
  margin-top: 30px;
}

.contents__box-item span {
  display: block;
}
.footer {
  padding: 0 0 110px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 0 23px;
}
.footer-social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link path {
  transition: all 0.3s;
}
.footer-social__link:hover path {
  fill: #001e64;
}

.footer .menu__list {
  align-items: flex-start;
  padding-top: 100px;
  margin-top: 0;
}

.footer .menu__link {
  color: #232222;
}

.footer .menu__link::after {
  background-color: #232222;
}

.footer .logo {
  margin: 0;
  padding-top: 25px;
}

.menu__btn {
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 13px 0;
  position: relative;
  display: none;
  cursor: pointer;
}

.menu__btn span {
  display: block;
  height: 4px;
  background-color: #001e64;
  transition: all 0.3s;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #001e64;
  transition: all 0.3s;
}

.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}

.menu__btn.menu__btn--active span {
  opacity: 0;
}

.menu__btn.menu__btn--active::before {
  transform: rotate(45deg);
  top: 13px;
}

.menu__btn.menu__btn--active::after {
  transform: rotate(-45deg);
  bottom: 13px;
}

@media (max-width: 1160px) {
  .product__name {
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .menu {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 30px;
  }
  .menu__list {
    position: absolute;
    background-color: #fff;
    display: block;
    left: 0%;
    right: 0%;
    top: -400px;
    transition: all 0.5s;
  }
  .menu__list.menu__list--active {
    top: 0;
  }
  .menu__link {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  .menu__link:hover::after {
    width: 0%;
  }
  .menu__btn {
    z-index: 999;
    display: block;
  }
  .phone {
    z-index: 999;
    margin-right: 20px;
  }
  .product__name {
    width: 250px;
  }
}

@media (max-width: 870px) {
  .product__inner {
    display: block;
  }
  .product__content {
    margin: 0 auto;
    padding-top: 50px;
  }
  .product__name {
    padding-top: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .product__name-item + .product__name-item {
    margin-top: 0;
  }
  .product__name-item.slick-current {
    line-height: 44px;
  }
  .product__name .slick-dots {
    left: 0;
    right: 0;
    top: 100px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  .product__name .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
  }
  .product__name .slick-active button {
    background-color: #001e64;
  }
}

@media (max-width: 800px) {
  .logo__img {
    width: 100px;
    height: 100px;
  }
  .advantages {
    padding-top: 300px;
  }
  .advantages__items {
    display: block;
  }
  .advantages__item {
   margin: 0 auto;
  }
}

@media (max-width: 800px) or (max-height: 900px) {
  .title {
    margin-left: 0;
    font-size: 50px;
    line-height: 65px;
    padding-left: 112px;
    padding-top: 125px;
    margin-bottom: 15px;
  }
  .header__content-btn {
    padding: 14px 66px;
  }
  .slick-prev {
    top: 50px;
  }

  .slick-next {
    bottom: 145px;
  }

  .slick-dots {
    left: 35px;
    top: 75px;
    bottom: 175px;
  }
  .header__content {
    margin-top: -80px;
    height: calc(100vh - 35px);
  }
}

@media (max-width: 650px) {
  .product__content-box {
    display: block;
    margin: 0 auto;
  }
  .product__content-list {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .product__content {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .header__content {
    margin-top: -70px;
    height: calc(100vh - 45px);
  }
  .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    margin: 0 auto 10px auto;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .header__slider-text {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  .header__slider {
    max-width: 522px;
    padding-left: 75px;
    padding-top: 55px;
    padding-bottom: 125px;
  }
  .slick-prev {
    left: 25px;
    top: 50px;
  }

  .slick-next {
    left: 25px;
    bottom: 135px;
  }

  .slick-dots {
    left: 20px;
    top: 75px;
    bottom: 175px;
  }
  .header__content-btn {
    margin-left: 80px;
  }
  .menu__btn {
    margin-top: 8px;
  }
  .phone {
    margin-top: 13px;
  }
}

@media (max-width: 400px) {
  .title {
    padding-top: 150px;
    font-size: 38px;
    margin-bottom: 20px;
  }
  .header__content-btn {
    padding: 14px 55px;
    margin-left: 60px;
  }
  .slick-dots {
    left: 10px;
  }
  .slick-prev,
  .slick-next {
    left: 15px;
  }
  .header__slider {
    padding-left: 55px;
  }
  .product__content-btn {
    padding: 12px 65px;
  }
  .product {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-height: 700px) {
  .title {
    padding-top: 100px;
    font-size: 38px;
    margin-bottom: 0px;
  }
  .header__slider {
    padding-top: 30px;
    padding-bottom: 125px;
  }
}
